# Set the default behavior, in case people don't have core.autocrlf set.
* text=auto

# Explicitly declare text files you want to always be normalized and converted
# to native line endings on checkout.
*.BAS   text
*.bat   text
*.card  text
*.cmd   text
*.css   text
*.html  text
*.js    text
*.lst   text
*.md    text
*.pt    text
*.svg   text
*.tape  text
*.txt   text
*.vbs   text
*.wsf   text
*.*_m   text

.gitignore
.gitattributes

# Denote all files that are truly binary and should not be modified.
*.bcd   binary
*.cod   binary
*.DISK  binary
*.doc   binary
*.docx  binary
*.gif   binary
*.jpg   binary
*.jpeg  binary
*.pdf   binary
*.png   binary
*.ppt   binary
*.ttf   binary
*.woff  binary
*.xls   binary
*.xlsx  binary
*.zip   binary
*.7z    binary
