#############
## Windows detritus
#############

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

#IIS config file
web.config

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Mac crap
.DS_Store
